
*{
    margin:0;
    padding:0;
}

html{
    width:100%;
    height:100%;
}

body{
    width:inherit;
    height:inherit;
  
}

ul{
    list-style-type: none;
}

main{
    
    background-color: green;
    min-height:50%;
    
}
header,footer{
    
    background-color: red;
    min-height:25%;
    text-align: center;
    overflow-y:hidden ; /* to hide margin-collapse from child positioning*/
    
}

header section,main .project-container{
    
    box-shadow: 1px 1px 1px 1px black;
    background-color: white;
    text-align: center;
}

/* TOP-BOTTOM CONTAINERS*/
.edge-container{
    width:70%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin:auto;
     /* align container due to height*/
    
}
.edge-container img{

    width:150px; 
      
}

footer>.edge-container{
    gap:2vw;
}


figure{
    
    position:relative;
}
figcaption{
    
    position:absolute;
    font-size: medium;
    color: white;
}
/* TOP-BOTTOM CONTAINERS*/

/* MAIN CONTAINER*/
main p{
    font-size: small;
}

main h4{
    display:inline-block;
}

main .project-container{
    width:20%;
    height:25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}

.project-container img{
    width:100%;
}

.project-container .project-content{
    display: flex;
    flex-direction: column;
    
    gap:5px;

}

.project-content .project-header{
    padding-right: 3rem;
}

.project-header .project-icons{
    float:right;
}
/* MAIN CONTAINER*/

/*FOOTER*/
footer .footer-icons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:1rem;
    
}




footer p, footer i{
    display:inline-block;
    font-size: medium;
    color:white;
}


footer h2{
    color:white;
}

footer ul{
    margin-top:10px;
}
/*FOOTER*/

@media screen and (max-width:800px){
     .edge-container img{
        width:250px;
    }

    figcaption{
        transform:translateX(15%);
        
    }

    section{
        padding:5vw;
        margin-left:2px;
    }
}

@media screen and (max-width:500px){
    
    .edge-container{
        flex-direction: column;
        gap:5vw;   
    }

     .edge-container img{
        width:180px; 
    }
    
    section{
        padding:2vw;  
    }
}

/*MAIN CONTENT*/

/*MAIN CONTENT*/

/*@media screen and (max-width:800px){
    .edge-container{
        align-items: flex-start;
    }
    section{
        width:95%;
    }*/

   
    

/*
@media screen and (max-width:500px){
    
    .edge-container > *{
        flex-basis: 80%;
       
    }
}*/


/*figure,section,aside{
    display:inline-block;
}

figure{
    width:20%;
    height:100%;
}
figcaption{
    position:absolute;
}
img{
    width:100%;
    height:inherit;
    
}*/



/*
.edge-content{
    width:70%;
    padding:1rem;
    background-color: brown;
}

section{
    
    box-shadow: 1px 1px 1px 1px black;
    background-color: white;
    text-align: center;
    margin-bottom:1rem; 
}
img{
    width:100px;
    height:20vh;
    
}
section{
    width:30%;
}
figure,section,aside{
    display:inline-block;
    overflow:hidden;
}


figcaption{
    position: absolute;
    top:2rem;
}

*/


